/**
 * base.scss
 */

html {
	/* Colors */
	accent-color: var(--color-accent-bg);
	background-color: var(--color-bg);
	color: var(--color-text);

	/* Text */
	font-family: var(--font-family);
	font-variant-numeric: lining-nums;

	/* Additional smoothing fixes for MacOS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

body {
	margin: 0;
	overflow: hidden;
	font-size: var(--font-size-m);
	font-weight: var(--font-weight-normal);
}

main {
	overflow-y: auto;
}

// Skip navigation link:
#skip {
	display: flex;
	grid-area: header;
	align-items: center;
	justify-content: center;
	block-size: 100%;
	background: var(--color-bg-subtle);
	color: var(--color-accent-text);
	text-align: center;

	&:focus {
		z-index: 1;
	}
	&:not(:focus) {
		position: absolute;
		block-size: 1px;
		inline-size: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0 0 0 0);
		border: 0;
		white-space: nowrap;
	}
}

svg {
	fill: currentcolor;
}

.badge::after {
	--font-size: var(--font-size-s);
	--size: calc(var(--font-size) * 1.5);
	--max-char: 3ch;
	block-size: var(--size);
	min-inline-size: var(--size);
	max-inline-size: calc(var(--max-char) + var(--font-size));
	padding: 1px;
	padding-inline: calc(var(--font-size) / 2);
	overflow: hidden;
	border-radius: var(--border-radius);
	background-color: var(--color-accent-bg);
	color: var(--color-onaccent-text);
	font-size: var(--font-size);
	line-height: 1.4;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

::-webkit-scrollbar {
	block-size: 12px;
	inline-size: 12px;
}

::-webkit-scrollbar-track {
	border: 1px solid var(--color-grey-300);
	border-radius: 8px;
	background-color: var(--color-border);
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: var(--color-text);
}

:focus-visible {
	animation: var(--animation-outline);
	border-radius: var(--border-radius);
	outline: var(--outline-width) solid var(--color-accent-text);
	outline-offset: calc(var(--outline-offset) * -1);
}

.actions-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-block: var(--spacing-m);
	column-gap: var(--spacing-m);
	font-weight: var(--font-weight-semi-bold);
}

.action-element {
	display: flex;
	align-items: center;
	column-gap: var(--spacing-s);
}

.visually-hidden {
	position: absolute;
	block-size: 1px;
	inline-size: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}

.display-contents {
	display: contents;
}
