<div class="header">
    <div>
      <img class="logo"
          src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
    </div>
    <button (click)="onTranscricao()">
      <mat-icon aria-hidden="true">text_snippet</mat-icon>
        Transcrição
    </button>
    <div></div>
    <button *ngIf="anamneseForm.id != 1" (click)="onRecomecar()">
      <mat-icon aria-hidden="true">restart_alt</mat-icon>
      Recomeçar
    </button>
</div>

<video [src]="'./assets/videos/' + anamneseForm.video" autoplay muted loop type="video/mp4" poster="./assets/images/video.png"></video>

<div class="content">

    <div *ngIf="isTranscricao" class="transcription-card">
      {{ anamneseForm.descricao }}
    </div>

    <div *ngIf="anamneseForm.inicio">
      <button (click)="onInicio()">
          Iniciar
      </button>
    </div>

    <div *ngIf="anamneseForm.fim" class="input-normal">
      <div class="transcription-card">
        Obrigado por utilizar o e-anamnese. Clique em Concluir para finalizar o seu cadastro.
      </div>

      <div class="align-end">
        <button (click)="onFim()">
            Concluir
        </button>
      </div>
    </div>

    <div *ngIf="anamneseForm.sim || anamneseForm.nao || anamneseForm.naosei" class="center">
      <button class="round-button error" *ngIf="anamneseForm.nao" (click)="onNao()">
        <mat-icon aria-hidden="true">close</mat-icon>
        Não
      </button>
      <button class="round-button"  *ngIf="anamneseForm.naosei"  (click)="onNaoSei()">
        <mat-icon aria-hidden="true">question_mark</mat-icon>
        Não sei
      </button>
      <button class="round-button success" *ngIf="anamneseForm.sim" (click)="onSim()">
        <mat-icon aria-hidden="true">check</mat-icon>
        Sim
      </button>
    </div>

    <div *ngIf="anamneseForm.escala" class="input-normal">
      <img src="./assets/images/escala-visual.jpg">
      <mat-slider min="0" max="10" step="1" value="0" discrete="true">
        <input matSliderThumb [(ngModel)]="escala" #slider>
      </mat-slider>
      <div class="align-end">
        <button class="round-button" (click)="onEscala()" [disabled]="!escala">
          Próximo
        </button>
      </div>
    </div>

    <div *ngIf="anamneseForm.opcao1" class="center-list">
      <button *ngIf="anamneseForm.opcao1" class="round-button" (click)="onOpcao1()">
        <mat-icon *ngIf="anamneseForm.opcao1_icon" aria-hidden="true">{{ anamneseForm.opcao1_icon }}</mat-icon>
        {{ anamneseForm.opcao1_desc }}
      </button>
      <button *ngIf="anamneseForm.opcao2" class="round-button" (click)="onOpcao2()">
        <mat-icon *ngIf="anamneseForm.opcao2_icon" aria-hidden="true">{{ anamneseForm.opcao2_icon }}</mat-icon>
        {{ anamneseForm.opcao2_desc }}
      </button>
      <button *ngIf="anamneseForm.opcao3" class="round-button" (click)="onOpcao3()">
        <mat-icon *ngIf="anamneseForm.opcao3_icon" aria-hidden="true">{{ anamneseForm.opcao3_icon }}</mat-icon>
        {{ anamneseForm.opcao3_desc }}
      </button>
      <button *ngIf="anamneseForm.opcao4" class="round-button" (click)="onOpcao4()">
        <mat-icon *ngIf="anamneseForm.opcao4_icon" aria-hidden="true">{{ anamneseForm.opcao4_icon }}</mat-icon>
        {{ anamneseForm.opcao4_desc }}
      </button>
      <button *ngIf="anamneseForm.opcao5" class="round-button" (click)="onOpcao5()">
        <mat-icon *ngIf="anamneseForm.opcao5_icon" aria-hidden="true">{{ anamneseForm.opcao5_icon }}</mat-icon>
        {{ anamneseForm.opcao5_desc }}
      </button>
      <button *ngIf="anamneseForm.opcao6" class="round-button" (click)="onOpcao6()">
        <mat-icon *ngIf="anamneseForm.opcao6_icon" aria-hidden="true">{{ anamneseForm.opcao6_icon }}</mat-icon>
        {{ anamneseForm.opcao6_desc }}
      </button>
      <button *ngIf="anamneseForm.opcao7" class="round-button" (click)="onOpcao7()">
        <mat-icon *ngIf="anamneseForm.opcao7_icon" aria-hidden="true">{{ anamneseForm.opcao7_icon }}</mat-icon>
        {{ anamneseForm.opcao7_desc }}
      </button>
      <button *ngIf="anamneseForm.opcao8" class="round-button" (click)="onOpcao8()">
        <mat-icon *ngIf="anamneseForm.opcao8_icon" aria-hidden="true">{{ anamneseForm.opcao8_icon }}</mat-icon>
        {{ anamneseForm.opcao8_desc }}
      </button>
      <button *ngIf="anamneseForm.opcao9" class="round-button" (click)="onOpcao9()">
        <mat-icon *ngIf="anamneseForm.opcao9_icon" aria-hidden="true">{{ anamneseForm.opcao9_icon }}</mat-icon>
        {{ anamneseForm.opcao9_desc }}
      </button>
    </div>

    <div *ngIf="anamneseForm.texto" class="input-full">
      <input
        type="search"
        placeholder="Digite sua resposta"
        [(ngModel)]="texto"
      />
      <button class="round-button" (click)="onTexto()" [disabled]="!texto">
        Próximo
      </button>
    </div>

    <div *ngIf="anamneseForm.numero" class="input-normal">
      <input
        type="search"
        placeholder="ex: 50"
        [(ngModel)]="numero"
      />
      <div class="align-end">
        <button class="round-button" (click)="onNumero()" [disabled]="!validateNumero()">
          Próximo
        </button>
      </div>
    </div>

    <div *ngIf="anamneseForm.data" class="input-normal">
      <input
        type="search"
        name="data"
        placeholder="dd/mm/aaaa"
        [ngModel]="data | data"
        (ngModelChange)="data=$event"
      />
      <div class="align-end">
        <button class="round-button" (click)="onData()" [disabled]="!validateData()">
          Próximo
        </button>
      </div>
    </div>

    <div *ngIf="anamneseForm.telefone" class="input-normal">
      <input
        type="search"
        placeholder="ex: (41)9999-88888"
        [ngModel]="telefone | telefone"
        (ngModelChange)="telefone=$event"
      />
      <div class="align-end">
        <button class="round-button" (click)="onTelefone()" [disabled]="!validateTelefone()">
          Próximo
        </button>
      </div>
    </div>

    <div *ngIf="anamneseForm.email" class="input-normal">
      <input
        type="search"
        placeholder="ex: nome@gmail.com"
        [(ngModel)]="email"
      />
      <div class="align-end">
        <button class="round-button" (click)="onEmail()" [disabled]="!email">
          Próximo
        </button>
      </div>
    </div>

    <div *ngIf="anamneseForm.cpf" class="input-normal">
      <input
        type="search"
        name="cpf"
        placeholder="ex: 111.222.333-44"
        [ngModel]="cpf | cpf"
        (ngModelChange)="cpf=$event"
      />
      <div class="align-end">
        <button class="round-button" (click)="onCPF()" [disabled]="!validateCPF()">
          Próximo
        </button>
      </div>
    </div>

</div>
