<main class="main-container">
<div class="header">
    <div>
      <img class="logo"
          src="./assets/images/logo.png">
    </div>
    <div></div>
    <div></div>
    <div class="button-recomecar" *ngIf="anamneseForm.id != 1" (click)="onRecomecar()">
      <mat-icon aria-hidden="true">close</mat-icon>
    </div>
</div>
<div class="progress-bar">
  <div class="progress-bar-container">
    <mat-progress-bar mode="determinate" [value]="progresso"></mat-progress-bar>
    <div class="progress-indicator">
      <div class="progress-indicator-start"></div>
    </div>
    <div class="progress-bar-text">
      <div class="progress-label">Progresso</div>
      <div class="progress-percent">{{ progresso }}%</div>
    </div>
  </div>
</div>

<div class="video-container">
  <img *ngIf="anamneseForm.inicio" src="./assets/images/welcome.gif" alt="Bem vindo" />
  <video *ngIf="!anamneseForm.inicio" [src]="'./assets/videos/' + anamneseForm.video" autoplay muted loop type="video/mp4" poster="./assets/images/video.gif"></video>
</div>

<div class="content">

    <div class="content-transcription">
      <div class="transcription">
        {{ anamneseForm.descricao }}
      </div>
    </div>

    <div *ngIf="!anamneseForm.informacao" class="content-answers">
      <div *ngIf="anamneseForm.inicio">
        <button (click)="onInicio()">
            Iniciar Anamnese
        </button>
      </div>

      <div *ngIf="anamneseForm.fim" class="input-normal">
        <button (click)="onProximo()">
            Realizar outra anamnese
        </button>
      </div>

      <div *ngIf="anamneseForm.texto" class="input-full">
        <input
          type="search"
          [placeholder]="anamneseForm.placeholder ? anamneseForm.placeholder : 'Digite sua resposta'"
          [(ngModel)]="texto"
        />

        <div *ngIf="anamneseForm.opcaoTexto" class="center-list-texto">
          <button *ngIf="anamneseForm.opcaoTexto" class="button-answer" [ngClass]="{'button-answer-not-checked': !isOpcaoTexto && texto.length === 0}" [disabled]="texto" (click)="onOpcaoTexto()">
            <mat-icon *ngIf="!isOpcaoTexto && texto.length === 0 || texto.length > 0">radio_button_unchecked</mat-icon>
            <mat-icon *ngIf="isOpcaoTexto && texto.length === 0">radio_button_checked</mat-icon>
            {{ anamneseForm.opcaoTexto_desc }}
          </button>
        </div>
      </div>

      <div *ngIf="anamneseForm.sim || anamneseForm.nao || anamneseForm.naosei" class="center-list">
        <button *ngIf="anamneseForm.sim" class="button-answer" [ngClass]="{'button-answer-not-checked': !isSim}" (click)="onSim()">
          <mat-icon *ngIf="!isSim">radio_button_unchecked</mat-icon>
          <mat-icon *ngIf="isSim">radio_button_checked</mat-icon>
          Sim
        </button>

        <button *ngIf="anamneseForm.nao" class="button-answer" [ngClass]="{'button-answer-not-checked': !isNao}" (click)="onNao()">
          <mat-icon *ngIf="!isNao">radio_button_unchecked</mat-icon>
          <mat-icon *ngIf="isNao">radio_button_checked</mat-icon>
          Não
        </button>

        <button *ngIf="anamneseForm.naosei" class="button-answer" [ngClass]="{'button-answer-not-checked': !isNaoSei}" (click)="onNaoSei()">
          <mat-icon *ngIf="!isNaoSei">radio_button_unchecked</mat-icon>
          <mat-icon *ngIf="isNaoSei">radio_button_checked</mat-icon>
          Não sei
        </button>
      </div>

      <div *ngIf="anamneseForm.escala" class="input-normal">
        <img src="./assets/images/escala-visual.jpg">
        <mat-slider min="0" max="10" step="1" value="0" discrete="true">
          <input matSliderThumb [(ngModel)]="escala" #slider>
        </mat-slider>
      </div>

      <div *ngIf="anamneseForm.opcao1 && !anamneseForm.checkbox" class="center-list">
        <button *ngIf="anamneseForm.opcao1" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao1}" (click)="onOpcao1()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao1">radio_button_unchecked</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao1">radio_button_checked</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao1_icon" aria-hidden="true">{{ anamneseForm.opcao1_icon }}</mat-icon>
          {{ anamneseForm.opcao1_desc }}
        </button>
        <button *ngIf="anamneseForm.opcao2" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao2}" (click)="onOpcao2()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao2">radio_button_unchecked</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao2">radio_button_checked</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao2_icon" aria-hidden="true">{{ anamneseForm.opcao2_icon }}</mat-icon>
          {{ anamneseForm.opcao2_desc }}
        </button>
        <button *ngIf="anamneseForm.opcao3" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao3}" (click)="onOpcao3()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao3">radio_button_unchecked</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao3">radio_button_checked</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao3_icon" aria-hidden="true">{{ anamneseForm.opcao3_icon }}</mat-icon>
          {{ anamneseForm.opcao3_desc }}
        </button>
        <button *ngIf="anamneseForm.opcao4" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao4}" (click)="onOpcao4()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao4">radio_button_unchecked</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao4">radio_button_checked</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao4_icon" aria-hidden="true">{{ anamneseForm.opcao4_icon }}</mat-icon>
          {{ anamneseForm.opcao4_desc }}
        </button>
        <button *ngIf="anamneseForm.opcao5" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao5}" (click)="onOpcao5()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao5">radio_button_unchecked</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao5">radio_button_checked</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao5_icon" aria-hidden="true">{{ anamneseForm.opcao5_icon }}</mat-icon>
          {{ anamneseForm.opcao5_desc }}
        </button>
        <button *ngIf="anamneseForm.opcao6" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao6}" (click)="onOpcao6()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao6">radio_button_unchecked</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao6">radio_button_checked</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao6_icon" aria-hidden="true">{{ anamneseForm.opcao6_icon }}</mat-icon>
          {{ anamneseForm.opcao6_desc }}
        </button>
        <button *ngIf="anamneseForm.opcao7" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao7}" (click)="onOpcao7()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao7">radio_button_unchecked</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao7">radio_button_checked</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao7_icon" aria-hidden="true">{{ anamneseForm.opcao7_icon }}</mat-icon>
          {{ anamneseForm.opcao7_desc }}
        </button>
        <button *ngIf="anamneseForm.opcao8" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao8}" (click)="onOpcao8()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao8">radio_button_unchecked</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao8">radio_button_checked</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao8_icon" aria-hidden="true">{{ anamneseForm.opcao8_icon }}</mat-icon>
          {{ anamneseForm.opcao8_desc }}
        </button>
        <button *ngIf="anamneseForm.opcao9" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao9}" (click)="onOpcao9()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao9">radio_button_unchecked</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao9">radio_button_checked</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao9_icon" aria-hidden="true">{{ anamneseForm.opcao9_icon }}</mat-icon>
          {{ anamneseForm.opcao9_desc }}
        </button>
      </div>

      <div *ngIf="!anamneseForm.opcao1 && anamneseForm.checkbox" class="center-list">
        <button *ngIf="anamneseForm.opcao1_desc" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao1}" (click)="onCheckOpcao1()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao1">check_box_outline_blank</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao1">check_box</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao1_icon" aria-hidden="true">{{ anamneseForm.opcao1_icon }}</mat-icon>
          {{ anamneseForm.opcao1_desc }}
        </button>
        <button *ngIf="anamneseForm.opcao2_desc" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao2}" (click)="onCheckOpcao2()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao2">check_box_outline_blank</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao2">check_box</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao2_icon" aria-hidden="true">{{ anamneseForm.opcao2_icon }}</mat-icon>
          {{ anamneseForm.opcao2_desc }}
        </button>
        <button *ngIf="anamneseForm.opcao3_desc" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao3}" (click)="onCheckOpcao3()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao3">check_box_outline_blank</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao3">check_box</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao3_icon" aria-hidden="true">{{ anamneseForm.opcao3_icon }}</mat-icon>
          {{ anamneseForm.opcao3_desc }}
        </button>
        <button *ngIf="anamneseForm.opcao4_desc" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao4}" (click)="onCheckOpcao4()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao4">check_box_outline_blank</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao4">check_box</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao4_icon" aria-hidden="true">{{ anamneseForm.opcao4_icon }}</mat-icon>
          {{ anamneseForm.opcao4_desc }}
        </button>
        <button *ngIf="anamneseForm.opcao5_desc" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao5}" (click)="onCheckOpcao5()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao5">check_box_outline_blank</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao5">check_box</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao5_icon" aria-hidden="true">{{ anamneseForm.opcao5_icon }}</mat-icon>
          {{ anamneseForm.opcao5_desc }}
        </button>
        <button *ngIf="anamneseForm.opcao6_desc" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao6}" (click)="onCheckOpcao6()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao6">check_box_outline_blank</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao6">check_box</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao6_icon" aria-hidden="true">{{ anamneseForm.opcao6_icon }}</mat-icon>
          {{ anamneseForm.opcao6_desc }}
        </button>
        <button *ngIf="anamneseForm.opcao7_desc" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao7}" (click)="onCheckOpcao7()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao7">check_box_outline_blank</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao7">check_box</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao7_icon" aria-hidden="true">{{ anamneseForm.opcao7_icon }}</mat-icon>
          {{ anamneseForm.opcao7_desc }}
        </button>
        <button *ngIf="anamneseForm.opcao8_desc" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao8}" (click)="onCheckOpcao8()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao8">check_box_outline_blank</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao8">check_box</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao8_icon" aria-hidden="true">{{ anamneseForm.opcao8_icon }}</mat-icon>
          {{ anamneseForm.opcao8_desc }}
        </button>
        <button *ngIf="anamneseForm.opcao9_desc" class="button-answer" [ngClass]="{'button-answer-not-checked': !this.checkboxes.value.opcao9}" (click)="onCheckOpcao9()">
          <mat-icon *ngIf="!this.checkboxes.value.opcao9">check_box_outline_blank</mat-icon>
          <mat-icon *ngIf="this.checkboxes.value.opcao9">check_box</mat-icon>
          <mat-icon *ngIf="anamneseForm.opcao9_icon" aria-hidden="true">{{ anamneseForm.opcao9_icon }}</mat-icon>
          {{ anamneseForm.opcao9_desc }}
        </button>
      </div>

      <div *ngIf="anamneseForm.numero" class="input-normal">
        <input
          type="search"
          [placeholder]="anamneseForm.placeholder ? anamneseForm.placeholder : 'ex: 25'"
          [(ngModel)]="numero"
        />
      </div>

      <div *ngIf="anamneseForm.data" class="input-normal">
        <input
          type="search"
          name="data"
          [placeholder]="anamneseForm.placeholder ? anamneseForm.placeholder : 'dd/mm/aaaa'"
          [ngModel]="data | data"
          (ngModelChange)="data=$event"
        />
      </div>

      <div *ngIf="anamneseForm.telefone" class="input-normal">
        <input
          type="search"
          [placeholder]="anamneseForm.placeholder ? anamneseForm.placeholder : 'ex: (41)9999-88888'"
          [ngModel]="telefone | telefone"
          (ngModelChange)="telefone=$event"
        />
      </div>

      <div *ngIf="anamneseForm.email" class="input-normal">
        <input
          type="search"
          placeholder="ex: nome@gmail.com"
          [(ngModel)]="email"
        />
      </div>

      <div *ngIf="anamneseForm.cpf" class="input-normal">
        <input
          type="search"
          name="cpf"
          [placeholder]="anamneseForm.placeholder ? anamneseForm.placeholder : 'ex: 111.222.333-44'"
          [ngModel]="cpf | cpf"
          (ngModelChange)="cpf=$event"
        />
      </div>
    </div>
</div>

<div *ngIf="!(anamneseForm.inicio || anamneseForm.fim)"class="footer">
  <button class="button-footer" (click)="onAnterior()" [disabled]="!validateAnterior()">
    Anterior
  </button>
  <button class="button-footer" (click)="onProximo()" [disabled]="!validateProximo()">
    Próximo
  </button>
</div>
</main>
