/**
 * fonts.css
 */

@import '~@fontsource-variable/raleway/index.css';

@font-face {
	font-family: Raleway-fallback;
	size-adjust: 104.07%;
	/* stylelint-disable-line property-no-unknown */
	ascent-override: 88%;
	descent-override: 20%;
	line-gap-override: 5%;
	src: local('Arial');
}

:where(html) {
	--font-family: 'Raleway Variable', 'Raleway-fallback', sans-serif;
	--font-family-monospace: monospace;

	/**
	 * Font sizes
	 */
	--line-height: 1.5;

	/* Text */
	--font-size-xxs: 0.625rem;
	--font-size-xs: 0.75rem;
	--font-size-s: 0.875rem;
	--font-size-m: 1rem;

	/* default */
	--font-size-l: 1.125rem;
	--font-size-xl: 1.25rem;

	/* Headings */
	--font-size-header-xs: 1.5rem;
	--font-size-header-s: 1.875rem;
	--font-size-header-m: 2.25rem;
	--font-size-header-l: 3rem;
	--font-size-header-xl: 3.75rem;
	--font-size-header-xxl: 4.5rem;

	/**
	 * Font weights
	 */
	--font-weight-normal: 400;

	/* default */
	--font-weight-medium: 500;
	--font-weight-semi-bold: 600;
	--font-weight-bold: 700;
}
