<nav
	id="mainTabs"
	role="tablist"
	[class.small-size-nav]="Utils.isSmallScreen && !Utils.isSmallScreenHeight"
	[class.small-height-nav]="Utils.isSmallScreenHeight"
>
	<a
		[title]="Utils.isSmallScreen ? 'teste1' : ''"
		[routerLink]="['call-history']"
		class="main-areas-navigation"
		fragment="main"
		id="call-history"
		[class.active]="isTabActive('/call-history')"
		[class.small-height-nav]="Utils.isSmallScreenHeight"
		draggable="false"
		role="tab"
	>
		<mat-icon aria-hidden="true">restart_alt</mat-icon>
		<div *ngIf="!Utils.isSmallScreen && !Utils.isSmallScreenHeight"
		> TÍTULO 1</div>
	</a>
	<a
		[title]="Utils.isSmallScreen ? 'teste1' : ''"
		[routerLink]="['call-history']"
		class="main-areas-navigation"
		fragment="main"
		id="call-history"
		[class.active]="isTabActive('/call-history')"
		[class.small-height-nav]="Utils.isSmallScreenHeight"
		draggable="false"
		role="tab"
	>
		<mat-icon aria-hidden="true">restart_alt</mat-icon>
		<div *ngIf="!Utils.isSmallScreen && !Utils.isSmallScreenHeight"
		> TÍTULO 1</div>
	</a>	<a
		[title]="Utils.isSmallScreen ? 'teste1' : ''"
		[routerLink]="['call-history']"
		class="main-areas-navigation"
		fragment="main"
		id="call-history"
		[class.active]="isTabActive('/call-history')"
		[class.small-height-nav]="Utils.isSmallScreenHeight"
		draggable="false"
		role="tab"
	>
		<mat-icon aria-hidden="true">restart_alt</mat-icon>
		<div *ngIf="!Utils.isSmallScreen && !Utils.isSmallScreenHeight"
		> TÍTULO 1</div>
	</a>
</nav>

