<div mat-dialog-title>Terms and Conditions</div>
<div mat-dialog-content>
  <p>Please read and accept the terms and conditions to continue using the application.</p>
  <p>
    <strong>Terms and Conditions:</strong><br>
    1. You must be at least 18 years old to use this application.<br>
    2. Your data will be stored securely and will not be shared with third parties.<br>
    3. You can withdraw your consent at any time by contacting us.<br>
    4. By using this application, you agree to the terms outlined above.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onAccept()">Accept</button>
  <button mat-button (click)="onReject()">Reject</button>
</div>