/**
 * elements/button.css
 */

button,
.button {
	display: flex;
	padding-block: var(--spacing-s);
	padding-inline: var(--spacing-m);
	border: none;
	border-radius: var(--border-radius);
	background: var(--color-bg-subtle);
	box-shadow: var(--shadow-s);
	color: var(--color-text);
	font-family: inherit;
	font-size: var(--font-size-m);
	font-weight: var(--font-weight-semi-bold);
	text-decoration: none;
    align-items: center;
	cursor: pointer;
	font-variant-numeric: lining-nums;

	&:disabled {
		background-color: var(--color-bg--disabled);
		cursor: default;
		color: lightgray;
	}
	&:not(:disabled):focus,
	&:not(:disabled):hover {
		background-color: var(--color-accent-bg--hover);
		color: var(--color-onaccent-text--hover);
	}
	&:not(:disabled):focus {
		background-color: var(--color-accent-bg--hover);
		color: var(--color-onaccent-text--hover);
	}
	&:not(:disabled):hover svg {
		fill: currentcolor;
	}
	&:not(:disabled):active {
		background-color: var(--color-accent-bg--active);
		color: var(--color-onaccent-text--active);
	}
}

/*************************************************************************************************
 * Button styles
 *************************************************************************************************/

button.round-button {
	border-radius: 100vmax;
}

button.flat-button {
	background-color: transparent;
	box-shadow: none;

	&:not(:disabled):focus,
	&:not(:disabled):hover {
		color: var(--color-accent-text--hover);
	}
	&:not(:disabled):active {
		color: var(--color-accent-text--active);
	}
}

@media screen and (prefers-color-scheme: light) {
	button.flat-button {
		&:not(:disabled):focus,
		&:not(:disabled):hover {
			color: var(--color-light);
		}
		&:not(:disabled):active {
			color: var(--color-light);
		}
	}
}

/*************************************************************************************************
 * Button modifiers
 *************************************************************************************************/
button.primary {
	&:not(.flat-button) {
		// TODO: original background and text color do not have enough color contrast. Current background color is a temporary solution.
		// background-color: var(--color-accent-bg);
		background-color: var(--color-primary-800);
		color: var(--color-onaccent-text);

		&:disabled {
			background-color: var(--color-accent-bg--disabled);
			cursor: auto;
		}
		&:not(:disabled):focus,
		&:not(:disabled):hover {
			background-color: var(--color-accent-bg--hover);
		}
		&:not(:disabled):active {
			background-color: var(--color-accent-bg--active);
		}
	}
}

button.success {
	&:not(.flat-button) {
		background-color: var(--color-success-bg);
		color: var(--color-onsuccess-text);

		&:disabled {
			background-color: var(--color-success-bg--disabled);
			cursor: auto;
		}
		&:not(:disabled):focus,
		&:not(:disabled):hover {
			background-color: var(--color-success-bg--hover);
		}
		&:not(:disabled):active {
			background-color: var(--color-success-bg--active);
		}
	}
}

button.error {
	&:not(.flat-button) {
		background-color: var(--color-error-bg);
		color: var(--color-onerror-text);

		&:disabled {
			background-color: var(--color-error-bg--disabled);
			cursor: auto;
		}
		&:not(:disabled):focus,
		&:not(:disabled):hover {
			background-color: var(--color-error-bg--hover);
		}
		&:not(:disabled):active {
			background-color: var(--color-error-bg--active);
		}
	}
}
